{% extends "base.html" %}
{% block title %}
  Технологии
{% endblock title %}
{% block content %}
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Python</li>
        <li class="list-group-item">Django</li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <iframe class="video iframe" src="https://www.youtube.com/embed/G1IbRujko-A" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </article>
  </div>
{% endblock %}
